#headers-request.headers-center
  div(data-bind='with: currentRequest')
    div(data-bind='html: prettyPrint(headers).outerHTML')

#headers-response.headers-south
  div(data-bind='with: currentResponse || { headers:null }')
    div(data-bind='html: headers && prettyPrint(headers).outerHTML')
