doctype 5
html
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/vendor/foundation/foundation.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/vendor/jquery.layout/layout-default-latest.css' + cachebust)

    script(src='http://localhost:3001/socket.io/socket.io.js')  # served automagically by server side socket.io component

    //- if reload
    //-   script(src='/javascripts/reload-client.js')       # can't include this - sockio not on main port, as expected by reload-client

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    block content
